$header-topbar-bg: #864343;
$header-bg: #723636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$favorite: #f71f1f;
$compare: #ff6016;
$btn-active-bgd: #242323;

$text-color: #2a2a2a;

$form-border-color: #292929;

$select-color: #2a2a2a;
$select-background: #fff;
$select-width: 189px;
$select-height: 43px;

$deals-top: #e0eeff;
$deals-hover-top: #cbdaee;

$deals-bottom: #f7ebeb;
$deals-bottom-hover: #e7dcdc;

$details-hover: #545454;
$post-box-main: #212529;
