@import "variables";
@import "mixins";

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

@import "bootstrap/bootstrap.scss";
@import "fontawesome/fontawesome";
@import "fontawesome/solid";
@import "fontawesome/brands";
@import "fontawesome/regular";

@import "components/header";
@import "components/footer";

@import "components/button";
@import "components/panel-bar";
@import "components/product-box";

@import "components/product-newsletter";

body {
  font-family: "Poppins", sans-serif;



  header {
    .top-bar {
      background-color: $footer-bg;
    }

    .company-claim {
      background-color: $footer-claim-bg;

      .cart .cart-box .cart-counter {
        background-color: $footer-claim-bg;
      }
    }
  }
}

.hover-animation {
  transition: $text-hover-delay, $background-hover-delay;
}
