<div class="product_section--product-box">
  <div class="wallpaper"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="product-box left">
          <div class="photo" id="currentImg">
            <a href="#" class="btn-outline"
              ><img
                src="https://images.pexels.com/photos/276583/pexels-photo-276583.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/><i
                class="fas fa-expand-arrows-alt"
              ></i
            ></a>
          </div>
          <a href="#" id="buttonLeft" class="btn-outline"
            ><i class="fas fa-chevron-left"></i
          ></a>
          <div class="row" id="slider" style="left:0px">
            <div class="col-lg-3 col-md-6 col-sm-3 col-3">
              <div class="photo-small">
                <img
                  src="https://images.pexels.com/photos/276583/pexels-photo-276583.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                />
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-3 col-3">
              <div class="photo-small">
                <img
                  src="https://images.pexels.com/photos/276534/pexels-photo-276534.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                />
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-3 col-3">
              <div class="photo-small">
                <img
                  src="https://images.pexels.com/photos/776939/pexels-photo-776939.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                />
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-3 col-3">
              <div class="photo-small">
                <img
                  src="https://images.pexels.com/photos/276528/pexels-photo-276528.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                />
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-3 col-3">
              <div class="photo-small">
                <img
                  src="https://images.pexels.com/photos/1866149/pexels-photo-1866149.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                />
              </div>
            </div>
          </div>
          <a href="#" id="buttonRight" class="btn-outline active"
            ><i class="fas fa-chevron-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-12">
        <div class="product-box right">
          <div class="content">
            <div class="arrows">
              <a href="#" class="btn-outline"><i class="fas fa-chevron-left"></i></a>
              <a href="#" class="btn-outline active"
                ><i class="fas fa-chevron-right"></i
              ></a>
            </div>
            <h5>Sunbaby Magic Bear Chair</h5>
            <div class="row">
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
              <div class="review">
                <p>(0 reviews)</p>
                <p>|</p>
                <p>Add Your Review</p>
              </div>
            </div>
            <div class="line"></div>
            <div class="row">
              <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="old-price">$ 350.00</div>
              </div>
              <div class="col-2">
                <div class="price">
                  <div class="btn-main-small no-hover">$ 250.00</div>
                </div>
              </div>
            </div>
            <div class="line"></div>
          </div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-main-small-product"
                ><i class="fas fa-shopping-basket"></i>ADD TO CART</a
              >
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              <a href="#" class="btn-outline"><i class="far fa-envelope"></i></a>
            </div>
          </div>
          <div class="row">
            <p>Quantity:</p>
            <a href="#" class="btn-outline q first">2</a>
            <a href="#" class="btn-outline q">-</a>
            <a href="#" class="btn-outline q active">+</a>
          </div>
          <div class="line"></div>
          <div class="post-info">
            <h5>Quick Overview</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
          </div>
          <div class="line"></div>
          <div class="info">
            <div class="row">
              <h6>Availability:</h6>
              <p>In Stock</p>
            </div>

            <div class="row">
              <h6>Category:</h6>
              <p>Furniture</p>
            </div>
          </div>
          <div class="line"></div>
          <div class="row">
            <a href="#" class="btn-outline facebook"><i class="fab fa-facebook-f"></i>Share</a>
            <a href="#" class="btn-outline google"><i class="fab fa-google-plus-g"></i>Google+</a>
            <a href="#" class="btn-outline tweet"><i class="fab fa-twitter"></i>Tweet</a>
            <a href="#" class="btn-outline pinterest"><i class="fab fa-pinterest-p"></i>Pinterest</a>
            <a href="#" class="btn-outline linkedin"><i class="fab fa-linkedin-in"></i>LinkedIn</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
