<div class="section--featured">
  <div class="container">
    <div class="row">
      <div class="dots dots-deal">
        <div>HOT DEALS</div>
        <ul>
          <li><a href="#" class="active"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="product-box">
          <div class="photo photo-deal">
            <img src="/images/rsz_chair.jpg" alt="chair" />
            <div class="buttons">
              <a href="#" class="btn-main-small btn-deal"
                ><i class="fa fa-shopping-basket"></i>ADD TO CARD</a
              >
            </div>
            <div class="counter">
              <div class="days circle">25<br />DAYS</div>
              <div class="hours circle">10<br />HRS</div>
              <div class="minutes circle">45<br />MINS</div>
              <div class="seconds circle">30<br />SECS</div>
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="old-price">$ 40.00</div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="product-box">
          <div class="photo photo-deal">
            <img
              class="bigger"
              src="https://cdn.pixabay.com/photo/2017/08/02/01/01/living-room-2569325__340.jpg"
              alt="sofa"
            />
            <div class="layer">
              <h1>INDOOR <b>FURNITURE</b></h1>
              <p class="center">SAVE UP TO 50% OF ALL FURNITURE</p>
            </div>
            <button class="btn-shop">SHOP NOW</button>
          </div>
          <div class="arrows">
            <button class="chevron"><i class="fas fa-chevron-left"></i></button>
            <button class="active chevron"><i class="fas fa-chevron-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
