<div class="product--section--product--info">
  <div class="container product-info">
    <ul class="tabs">
      <li class="">description</li>
      <li class="active">reviews</li>
      <li class="">specification</li>
      <li class="last">custom tab</li>
    </ul>
    <p>There are no reviews for this product</p>
    <h6>Add a review</h6>
    <p>Your rating</p>
    <div class="stars">
      <span>Bad &nbsp;</span><a href="#" class="full"></a>
      <a href="#" class="full"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a
      ><span>&nbsp; Good</span>
    </div>
    <form>
      <legend>Your review</legend>
      <textarea name="review" required></textarea><br /><br />
      <div class="inputs">
        <input type="text" name="usrname" placeholder="Name*" required />
        <input type="email" name="email" placeholder="Email*" required />
        <input type="submit" value="Submit" />
      </div>
    </form>
  </div>
</div>
