<div class="section--gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <!--  -->
        <div class="panel-bar">
          <div class="row no-gutters align-items-end">
            <div class="col-auto heading"><h3>Furniture Gallery</h3></div>
            <div class="col"></div>
          </div>
        </div>
        <div class="col menu">
          <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="#">Featured</a></li>
            <li class="nav-item"><a class="nav-link active" href="#">Top seller</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Sale off</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Top rated</a></li>
          </ul>
        </div>
        <div class="product-slider">
          <div
            id="carousel-gallery"
            class="carousel slide carousel-fade carousel-thumbnails"
            data-ride="carousel"
            data-interval="false"
          >
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img src="/images/gallery01.png" alt="1" />
                <div class="actions">
                  <div class="outlines d-flex flex-column">
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Like"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Share"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="View"
                      ><i class="far fa-eye"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Add to cart"
                      ><i class="fas fa-shopping-basket"></i
                    ></a>
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/images/gallery02.png" alt="2" />
                <div class="actions">
                  <div class="outlines d-flex flex-column">
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Like"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Share"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="View"
                      ><i class="far fa-eye"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Add to cart"
                      ><i class="fas fa-shopping-basket"></i
                    ></a>
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/images/gallery03.png" alt="3" />
                <div class="actions">
                  <div class="outlines d-flex flex-column">
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Like"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Share"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="View"
                      ><i class="far fa-eye"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Add to cart"
                      ><i class="fas fa-shopping-basket"></i
                    ></a>
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/images/gallery04.png" alt="4" />
                <div class="actions">
                  <div class="outlines d-flex flex-column">
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Like"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Share"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="View"
                      ><i class="far fa-eye"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Add to cart"
                      ><i class="fas fa-shopping-basket"></i
                    ></a>
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/images/gallery05.png" alt="5" />
                <div class="actions">
                  <div class="outlines d-flex flex-column">
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Like"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Share"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="View"
                      ><i class="far fa-eye"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Add to cart"
                      ><i class="fas fa-shopping-basket"></i
                    ></a>
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/images/gallery06.png" alt="6" />
                <div class="actions">
                  <div class="outlines d-flex flex-column">
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Like"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Share"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="View"
                      ><i class="far fa-eye"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Add to cart"
                      ><i class="fas fa-shopping-basket"></i
                    ></a>
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/images/gallery07.png" alt="7" />
                <div class="actions">
                  <div class="outlines d-flex flex-column">
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Like"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Share"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="View"
                      ><i class="far fa-eye"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Add to cart"
                      ><i class="fas fa-shopping-basket"></i
                    ></a>
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/images/gallery08.png" alt="8" />
                <div class="actions">
                  <div class="outlines d-flex flex-column">
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Like"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Share"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="View"
                      ><i class="far fa-eye"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Add to cart"
                      ><i class="fas fa-shopping-basket"></i
                    ></a>
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/images/gallery09.png" alt="9" />
                <div class="actions">
                  <div class="outlines d-flex flex-column">
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Like"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Share"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="View"
                      ><i class="far fa-eye"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Add to cart"
                      ><i class="fas fa-shopping-basket"></i
                    ></a>
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/images/gallery10.png" alt="10" />
                <div class="actions">
                  <div class="outlines d-flex flex-column">
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Like"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Share"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="View"
                      ><i class="far fa-eye"></i
                    ></a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Add to cart"
                      ><i class="fas fa-shopping-basket"></i
                    ></a>
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- <a class="carousel-control-prev" href="#carousel-gallery" role="button" data-slide="prev"><i class="fas fa-angle-left"></i></a> 
                        <a class="carousel-control-next" href="#carousel-gallery" role="button" data-slide="next"><i class="fas fa-angle-right"></i></a> -->
            <ol class="carousel-indicators">
              <li
                data-target="#carousel-gallery"
                data-slide-to="0"
                class="thumb active"
              >
                <img src="/images/gallery01.png" />
              </li>
              <li data-target="#carousel-gallery" data-slide-to="1" class="thumb">
                <img src="/images/gallery02.png" />
              </li>
              <li data-target="#carousel-gallery" data-slide-to="2" class="thumb">
                <img src="/images/gallery03.png" />
              </li>
              <li data-target="#carousel-gallery" data-slide-to="3" class="thumb">
                <img src="/images/gallery04.png" />
              </li>
              <li data-target="#carousel-gallery" data-slide-to="4" class="thumb">
                <img src="/images/gallery05.png" />
              </li>
              <li data-target="#carousel-gallery" data-slide-to="5" class="thumb">
                <img src="/images/gallery06.png" />
              </li>
              <li data-target="#carousel-gallery" data-slide-to="6" class="thumb">
                <img src="/images/gallery07.png" />
              </li>
              <li data-target="#carousel-gallery" data-slide-to="7" class="thumb">
                <img src="/images/gallery08.png" />
              </li>
              <li data-target="#carousel-gallery" data-slide-to="8" class="thumb">
                <img src="/images/gallery09.png" />
              </li>
              <li data-target="#carousel-gallery" data-slide-to="9" class="thumb">
                <img src="/images/gallery10.png" />
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="big-picture">
          <img src="/images/gallery00.png" alt="Product photo" />
          <div class="big-product-layer">
            <h5>From <span>$50.80</span></h5>
            <h1>Bedroom Bed</h1>
            <a href="#" class="btn-price">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
