<div class="section--gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <!--  -->
        <div class="panel-bar">
          <div class="row no-gutters align-items-end">
            <div class="col-auto heading"><h3>Furniture Gallery</h3></div>
            <div class="col"></div>
          </div>
        </div>
        <div class="col menu">
          <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="#">Featured</a></li>
            <li class="nav-item"><a class="nav-link active" href="#">Top seller</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Sale off</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Top rated</a></li>
          </ul>
        </div>
        <div class="product-slider">
          <div class="slider-big-pic">
            <img src="/images/gallery01.png" alt="product 1" />
            <div class="product-big-layer">
              <div class="actions">
                <div class="outlines d-flex flex-column">
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Like"
                    ><i class="far fa-heart"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Share"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="View"
                    ><i class="far fa-eye"></i
                  ></a>
                  <a
                    href="#"
                    class="btn-outline"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Add to cart"
                    ><i class="fas fa-shopping-basket"></i
                  ></a>
                </div>
              </div>
              <div class="content">
                <h6>Aenean Ru Bristique</h6>
                <div class="stars">
                  <a href="#" class="full"></a> <a href="#" class="full"></a>
                  <a href="#"></a> <a href="#"></a> <a href="#"></a>
                </div>
                <div class="content-price">
                  <h5 id="price-new">$120.00</h5>
                  <h6 id="price-old">$160.00</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <div class="row slider-thumbnails">
              <div class="col slider-col">
                <a class="slider-link" href="#">
                  <div class="arrow-box"><i class="fas fa-angle-left"></i></div>
                </a>
              </div>
              <div class="col slider-col">
                <<<<<<< HEAD
                <div class="slider-box active"><img src="/images/gallery01.png" /></div>
                =======
                <div class="slider-box"><img src="/images/gallery01.png" /></div>
                >>>>>>> Rebuild slider in section-gallery
              </div>
              <div class="col slider-col">
                <div class="slider-box"><img src="/images/gallery02.png" /></div>
              </div>
              <div class="col slider-col">
                <div class="slider-box"><img src="/images/gallery03.png" /></div>
              </div>
              <div class="col slider-col">
                <div class="slider-box"><img src="/images/gallery04.png" /></div>
              </div>
              <div class="col slider-col">
                <div class="slider-box"><img src="/images/gallery05.png" /></div>
              </div>
              <div class="col slider-col">
                <div class="slider-box"><img src="/images/gallery06.png" /></div>
              </div>
              <div class="col slider-col">
                <a class="slider-link" href="#">
                  <div class="arrow-box"><i class="fas fa-angle-right"></i></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- photo no the right -->
      <div class="col-lg-6">
        <div class="big-picture">
          <img src="/images/gallery00.png" alt="Product photo" />
          <div class="big-product-layer">
            <h5>From <span>$50.80</span></h5>
            <h1>Bedroom Bed</h1>
            <a href="#" class="btn-price">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
