<div class="section--brand-logos">
  <div class="container">
    <div class="row">
      <div class="brand-link" id="brands-prev">
        <div class="arrow-box"><i class="fas fa-angle-left"></i></div>
      </div>
      <div class="brand-link" id="brands-next">
        <div class="arrow-box"><i class="fas fa-angle-right"></i></div>
      </div>
      <div class="brands-slider">
        <div class="col">
          <div class="brand-box"><img src="images/BrandLogo02.png" /></div>
        </div>
        <div class="col">
          <div class="brand-box"><img src="images/BrandLogo01.png" /></div>
        </div>
        <div class="col">
          <div class="brand-box"><img src="images/BrandLogo04.png" /></div>
        </div>
        <div class="col">
          <div class="brand-box"><img src="images/BrandLogo06.png" /></div>
        </div>
        <div class="col">
          <div class="brand-box"><img src="images/BrandLogo05.png" /></div>
        </div>
        <div class="col">
          <div class="brand-box"><img src="images/BrandLogo03.png" /></div>
        </div>
        <div class="col">
          <div class="brand-box"><img src="images/BrandLogo02.png" /></div>
        </div>
        <div class="col">
          <div class="brand-box"><img src="images/BrandLogo01.png" /></div>
        </div>
        <div class="col">
          <div class="brand-box"><img src="images/BrandLogo04.png" /></div>
        </div>
        <div class="col">
          <div class="brand-box"><img src="images/BrandLogo06.png" /></div>
        </div>
        <div class="col">
          <div class="brand-box"><img src="images/BrandLogo05.png" /></div>
        </div>
        <div class="col">
          <div class="brand-box"><img src="images/BrandLogo03.png" /></div>
        </div>
      </div>
    </div>
  </div>
</div>
