<div class="section--deals">
  <div class="container">
    <div class="row ">
      <div class="col ">
        <a href="#" class="left-box">
          <div class="overlay">
            <div class="text-wrapper">
              <h4>Guest room</h4>
              <h2>Sofa</h2>
              <div class="percent">-20%</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <div class="right-box">
          <a href="#" class="right-top">
            <div class="text-wrapper">
              <h3><span> office </span> chair</h3>
              <h5>collection</h5>
              <h2>$200.00</h2>
            </div>
            <img class="orangechair" src="/images/orangechair.png" alt="orange chair" />
            <img class="redchair" src="/images/redchair.png" alt="red chair" />
          </a>
          <a href="#" class="right-bottom">
            <div class="text-wrapper">
              <h5><span> special </span> collection</h5>
              <h6>save up to 45% off furniture</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
