.brand-box {
  width: 143px;
  height: 92px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  text-align: center;
  padding-top: 19px;

  .icon {
    transform: translateY(-50%);

    i {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      position: relative;
      color: $text-color;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #b6b6b6;
    }

    &::before {
      content: "";
      border: 1px solid #b6b6b6;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 76px;
      height: 76px;
      border-radius: 100%;
      background-color: #ffffff;
      z-index: -1;
    }
  }

  .content {
    text-transform: uppercase;
    color: rgb(42, 42, 42);
    margin-top: -0.5rem;
    letter-spacing: 1px;

    h5 {
      font-weight: 600;
      margin: 0;
    }

    p {
      font-weight: 300;
    }
  }

  &:hover {
    i {
      background-color: $primary;
      color: #ffffff;
      border-color: $primary;
    }

    .content {
      color: $primary;
    }
  }
}

.brand-link {
  text-decoration: none;

  .arrow-box {
    &:hover {
      text-decoration: none;
      background-color: $primary;
    }

    height: 92px;
    padding: 0px;
    display: table-cell;
    vertical-align: middle;
    width: 33px;
    color: #fff;
    text-align: center;
    margin: 0px;
    background-color: #2a2a2a;
  }
}
