header {
  .overlay {
    z-index: 98;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
  }
  .hidden {
    display: none;
  }
  .top-bar {
    background-color: $header-topbar-bg;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        line-height: 55px;

        a {
          color: #ffffff;
          font-size: 13px;

          &:hover {
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }

    .text-left ul li {
      margin-right: 1.5rem;

      i {
        margin-left: 5px;
      }
    }

    .text-right ul li {
      margin-left: 1.5rem;

      i {
        margin-right: 5px;
      }
    }
  }

  .company-claim {
    background-color: $header-bg;

    .container > .row {
      height: 145px;
    }

    .phone-number {
      p {
        margin: 0;
        font-size: 17px;
        line-height: 42px;
        color: rgb(216, 216, 216);
        font-weight: 500;

        i {
          font-size: 32px;
          color: $primary;
          vertical-align: middle;
          margin-top: -3px;
          margin-right: 0.8rem;
        }
      }
    }

    .cart {
      .cart-box {
        display: inline-block;
        position: relative;
        color: #ffffff;

        .cart-icon {
          background-color: $primary;
          width: 55px;
          height: 50px;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
        }

        .cart-counter {
          min-width: 28px;
          min-height: 27px;
          padding: 0 8px;
          border-radius: 14px;
          background-color: $header-bg;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          color: rgb(224, 227, 237);
          position: absolute;
          top: 25%;
          right: 75%;
        }

        &:hover {
          .cart-icon {
            background-color: lighten($primary, 10%);
          }
        }
      }
    }
  }

  .navbar {
    padding: 0;
  }
  .menu-bar {
    box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
    background-color: #ffffff;

    .container > .row {
      height: 84px;
    }
    .menu {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        height: 84px;

        li {
          list-style: none;
          display: flex;
          align-items: stretch;

          a {
            color: $text-color;
            text-transform: uppercase;
            font-size: 12px;
            padding: 1rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            border-top: 4px solid #ffffff;
            font-weight: 500;
            letter-spacing: 1px;

            &:hover,
            &.active {
              background-color: $primary;
              color: #ffffff;
              border-color: $primary;
            }

            &.active {
              border-color: $text-color;
            }
          }
        }
      }
    }

    .search-form {
      border: 1px solid $form-border-color;
      display: inline-flex;
      height: 45px;
      color: $text-color;

      .category {
        border-right: 1px solid $form-border-color;
        display: flex;
        align-items: center;
        position: relative;
        width: 200px;

        i:first-child {
          color: $primary;
          position: absolute;
          left: 10px;
          z-index: 1;
          font-size: 13px;
        }

        i:last-child {
          position: absolute;
          right: 10px;
          z-index: 1;
          font-size: 18px;
        }

        ul.category-menu {
          width: 200px;
          text-align: center;
          position: absolute;
          top: 10px;
          list-style: none;
          padding: 0;
          z-index: 1;

          a {
            color: $text-color;
            text-decoration: none;
          }

          p {
            margin-bottom: 10px;
          }

          &:hover li {
            display: block;
          }

          li {
            display: none;
            position: relative;
            background-color: #ffffff;
            line-height: 43px;
            cursor: pointer;
            transition: all 0.6s;

            &:hover {
              background-color: $primary;
            }

            &:hover > a {
              color: #ffffff;
            }

            &:hover ul {
              display: block;
            }

            ul {
              display: none;
              position: absolute;
              left: 200px;
              top: 0;
              width: 200px;
              padding: 0;

              li {
                &:hover a {
                  color: #ffffff;
                }
              }
            }
          }
        }
        .select-hidden {
          display: none;
          visibility: hidden;
          padding-right: 10px;
        }
        .select {
          cursor: pointer;
          display: inline-block;
          position: relative;
          font-size: 14px;
          color: $select-color;
          width: $select-width;
          height: $select-height;
        }
        .select-styled {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: $select-background;
          padding: 11px 29px;
          @include transition(all 0.2s ease-in);
          &:hover {
            background-color: darken($select-background, 4);
          }
          &:active,
          &.active {
            background-color: darken($select-background, 7);
            &:after {
              top: 9px;
              border-color: transparent transparent $select-color transparent;
            }
          }
        }

        .select-options {
          display: none;
          position: absolute;
          top: 100%;
          right: 0;
          left: 0;
          z-index: 999;
          margin: 0;
          padding: 0;
          list-style: none;
          background-color: darken($select-background, 5);
          li {
            margin: 0;
            padding: 12px 0;
            text-indent: 15px;
            border-top: 1px solid darken($select-background, 10);
            @include transition(all 0.15s ease-in);
            &:hover {
              color: $select-background;
              background: #d58e32;
            }
            &[rel="hide"] {
              display: none;
            }
          }
        }
      }

      .search-field {
        display: flex;
        align-items: center;
        position: relative;

        input {
          border: 0;
          padding-left: 10px;
          font-size: 14px;
          outline: none;

          &::placeholder {
            color: $text-color;
          }
        }

        button {
          border: 0;
          background-color: transparent;
          outline: none;
        }
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  header {
    .menu-bar .container > .row {
      height: auto;
      flex-direction: column-reverse;
      .col {
        flex-basis: auto;
      }
      .search-form {
        margin: 10px 0;
      }
      .menu {
        ul {
          height: auto;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  header {

    .top-bar {
      .text-left {
        flex-grow: 2;
        padding: 0 10px;

        ul li {
          margin-right: 0.5rem;
        }
      }

      .text-right {
        flex-grow: 1;
        padding: 0 10px;

        ul li {
          margin-left: 0.5rem;

          .hidden {
            display: none;
          }
        }
      }
    }

    .company-claim {
      .text-left {
        order: 3;
        min-width: 100%;
        font-size: 14px;
        text-align: right !important;
      }
      .text-center {
        margin-top: 5px;
      }
      .text-right {
        height: 77px;
        margin-top: 5px;
      }
    }
    
    .menu-bar {
      position: absolute;
      width: 100%;
      z-index: 99;

      .container > .row {
        margin: 10px auto;
        .navbar-toggler {
          border: none;
        }
        .search-form {
          .category {
            display: none;
          }
        }
        button {
          span i {
            font-size: 20px;
            color: $text-color;
          }
        }
        button:focus {
          outline: 5px auto $primary;
        }
        .menu {
          z-index: 100;
          margin-top: 10px;
          ul {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: column;
            background-color: #fff;
            border-bottom: 4px solid $text-color;
            li {
              display: block;
            }
          }
        }
      }
    }
  }
}
