.hot-deal {
  display: flex;
  padding: 5px 15px 0 15px;
  margin-left: 15px;
  width: 350px;
  background-color: #2a2a2a;
  color: #ffffff;
  font-size: 1.5rem;
  justify-content: space-between;
}

.col-4 > .tns-outer > .tns-nav {
  background-color: #2a2a2a;
  margin-top: 10px;
}

.col-4 > .tns-outer > button {
  display: none;
}

.product-box {
  .photo-deal {
    .buttons {
      .btn-deal {
        position: absolute;
        bottom: 160px;
        left: 35%;
      }
    }
    .counter {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      position: absolute;
      bottom: 5px;
      &:hover .circle {
        visibility: visible;
      }
      .circle {
        width: 70px;
        height: 70px;
        padding-top: 10px;
        text-align: center;
        border-radius: 50%;
        color: #ffffff;
        background-color: rgba(42, 42, 42, 0.8);
        visibility: hidden;
      }
    }
  }
}
