.dots-deal {
  display: flex;
  padding: 5px 15px 0 15px;
  margin-left: 15px;
  width: 350px;
  background-color: #2a2a2a;
  color: #ffffff;
  font-size: 1.5rem;
  justify-content: space-between;
  ul {
    li {
      display: inline-block;
      margin-left: 0.5rem;
      a {
        display: block;
        width: 13px;
        height: 13px;
        border-radius: 6px;
        background-color: #ffffff;
        &.active,
        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}

.product-box {
  .photo {
    .buttons {
      .btn-deal {
        position: absolute;
        bottom: 50%;
        left: 35%;
        transform: translateY(-50%);
      }
    }
    .counter {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      position: absolute;
      bottom: 5px;
      &:hover .circle {
        visibility: visible;
      }
      .circle {
        width: 70px;
        height: 70px;
        padding-top: 10px;
        text-align: center;
        border-radius: 50%;
        color: #ffffff;
        background-color: rgba(42, 42, 42, 0.8);
        visibility: hidden;
      }
    }
  }
}
