.product_section--product-box {
  .col-lg-4 {
    padding: 0px;
  }
  .wallpaper {
    background: #898989;
    width: 100%;
    height: 300px;
    position: absolute;
  }
  .container {
    border: 1px solid #c2c2c2;
    background: #fff;
    padding: 18px;
    position: sticky;
    p {
      margin: 12px 31px 13px 0px;
      font-size: 14px;
      line-height: 25px;
      color: #676767;
      font-weight: 400;
    }

    .product-box {
      .btn-outline.active {
        background: #d58e32;
        color: #fff;
        border: 0;
      }
    }

    .product-box.left {
      background-color: #ffffff;
      margin-bottom: 2rem;

      .row {
        margin-right: 26px;
      }

      .col-3 {
        padding: 0px;
      }

      &:hover .btn-main-small {
        visibility: visible;
      }
      &:hover .price > .btn-main-small {
        background-color: $primary;
      }

      .btn-outline {
        position: absolute;
        z-index: 1;
        margin: 15px 0 0 4px;
      }
      .btn-outline.active {
        margin-right: 11px;
        right: 0px;
      }
      .photo {
        position: relative;
        height: 493px;
        margin-bottom: 10px;
        background: {
          color: #f4f5f7;
          size: contain;
          position: center;
          repeat: no-repeat;
        }
        overflow: hidden;
        align-items: flex-end;

        img {
          position: absolute;
          top: 0;
          left: -10px;
        }
        .btn-outline {
          float: right;
          right: 0;
          bottom: 0px;
          margin: 0 10px 10px 0;
        }
      }

      .photo-small {
        position: relative;
        width: 73px;
        height: 71px;
        background: {
          color: #f4f5f7;
          size: contain;
          position: center;
          repeat: no-repeat;
        }
        overflow: hidden;
        align-items: flex-end;
        margin-left: 16px;

        img {
          position: absolute;
          top: 0;
          left: -10px;
        }
      }
    }

    .product-box.right {
      .btn-outline i {
        padding: 7px 2px;
      }
      .btn-outline.f {
        background-color: #3b5998;
        color: #fff;
      }
      .btn-outline.g i {
        color: #d62d20;
      }
      .btn-outline.t i {
        color: #4099ff;
      }
      .btn-outline.p i {
        color: #c92228;
      }
      .btn-outline.i i {
        color: #0077b5;
      }
      .btn-outline.first {
        width: 73px !important;
        text-align: center;
      }
      .btn-outline.q {
        height: 37px;
        width: 37px;
        margin: 4px;
        text-align: center;
        font-size: 14px;
        color: #2a2a2a;
        font-weight: 500;
      }

      .btn-outline {
        margin: 10px 6px 0 0 !important;
        i {
          margin-right: 4px;
        }
        &.q.active {
          background: transparent !important;
          color: #d58e32 !important;
          border: 1px solid #d58e32 !important;
        }
      }

      .content {
        .row {
          height: 27px;
        }
        .btn-outline {
          margin: 0 6px 0 0 !important;
        }
        .arrows {
          float: right;
        }
        .review {
          p {
            margin: 0 14px !important;
            font-size: 16px;
            color: #676767;
            font-weight: 400;
          }
          display: flex;
        }

        h5 {
          font-size: 22px;
          line-height: 41px;
          color: #2a2a2a;
          font-weight: 600;
          text-align: left;
        }

        .stars {
          a {
            text-decoration: none;
            color: rgb(42, 42, 42);
            @extend .far;
            @extend .fa-star;

            &.full {
              @extend .fas;
            }
          }
        }
      }

      .line {
        border-bottom: 1px solid #cccccc;
        position: relative;
        width: 100%;
        margin: 9px 0 16px 0;
        padding: 0 0 16px 0;
      }
    }
  }
  .row {
    margin-left: 0px;
  }
  .old-price {
    font-size: 20px;
    line-height: 42px;
    color: #939393;
    font-weight: 300;
    text-align: center;
    text-decoration: line-through;
  }
  .price {
    width: 114px;
    height: 36px;
  }
  .price .btn-main-small.no-hover {
    font-size: 22px;
    line-height: 19px;
    padding: 11px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
  }
  .outlines {
    a {
      i {
        margin-right: 4px;
      }
      height: 38px;
      width: 38px;
      display: inline;
      font-size: 13px;
      line-height: 42px;
      font-weight: 600;
      text-align: center;
      padding: 8px;
    }
    width: 100%;
  }
  .info {
    p {
      margin-left: 105px;
      position: absolute;
    }
    h6 {
      margin: 14px 0 16px 0px;
    }
  }
}

//mobile portrait
@media (max-width: 1200px) {
  .product-box.left {
    .btn-outline {
      margin: 6px 12px 16px -8px !important;
    }
    .photo-small {
      width: 52px !important;
      height: 52px !important;
    }
  }
}
@media (max-width: 1000px) {
  .product-box.left {
    .photo-small {
      margin: 8px 11px 5px 22px;
      width: 86px !important;
      height: 86px !important;
    }
    .btn-outline {
      margin: 43px 0 0 -7px;
    }
  }
}

@media (max-width: 767px) {
  .product_section--header {
    padding: 9rem 0 5rem 0;
  }
  .product-box.left {
    .btn-outline {
      margin: 27px 17px 16px -8px !important;
    }
  }
}
