.tns-outer {
  width: 100%;
  position: relative;

  .tns-nav {
    position: absolute;
    right: 0;
    top: -43px;
    @include md {
      top: -10px;
    }
    @include sm {
      right: 50%;
      top: -25px;
      transform: translate(50%, 0);
    }
  }
  .tns-controls {
    text-align: center;
    margin-bottom: 10px;
    margin-top: -10px;
    button {
      width: 30px;
      height: 30px;
      background-color: $primary;
      color: #ffffff;
      border: none;
      border-radius: 50%;
      font-size: 24px;
      line-height: 30px;
      margin: 0 5px 0 5px;
    }

    @include sm {
      display: none;
    }
  }

  .tns-nav {
    background-color: white;
    padding: 0 10px;
    [aria-controls] {
      width: 13px;
      height: 13px;
      padding: 0;
      margin: 0 5px;
      border-radius: 50%;
      background: #ddd;
      border: 0;
    }

    .tns-nav-active {
      background-color: $primary;
    }
  }
}
.product-box {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  margin-bottom: 2rem;
  &:hover .btn-main-small {
    visibility: visible;
  }
  &:hover .price > .btn-main-small {
    background-color: $primary;
  }

  .photo {
    position: relative;
    padding: 80% 10px 0 10px;
    background: {
      color: #f4f5f7;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #292929;
      border-radius: 50%;
      color: #ffffff;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      position: relative;
      bottom: 0;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: rgb(42, 42, 42);
        @extend .far;
        @extend .fa-star;

        &.full {
          @extend .fas;
        }
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid #2a2a2a;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .outlines .active {
      background: $btn-active-bgd;
      .far {
        color: $favorite;
      }
      .fa-exchange-alt {
        color: $compare;
      }
    }
  }
}

//tablet portrait
@media (max-width: 991px) {
  .col-md {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

//tablet landscape
@media (max-height: 768px) {
  .col-md {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

//mobile portrait
@media (max-width: 567px), (max-height: 567px) {
  .col-xs {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
