.product-info {
  border: 1px solid $select-color;
  padding-bottom: 40px;
  margin: 20px auto;
  padding-top: 50px;
  position: relative;
  @include md {
    margin: 120px auto;
  }
  @include sm {
    margin: 120px auto;
    /*  padding-top: 10%; */
    padding-bottom: 5%;
  }
  .tabs {
    display: flex;
    list-style-type: none;
    position: absolute;
    width: 100%;
    padding: 0;
    top: 0;
    left: 0;

    li {
      width: 150px;
      height: 50px;
      border-bottom: 1px solid $select-color;
      border-right: 1px solid $select-color;
      line-height: 50px;
      text-align: center;
      text-transform: uppercase;
      padding: 0 5px;

      @include sm {
        font-size: 14px;
      }

      &:hover {
        background: $primary;
        color: #fff;
      }
      &:active {
        border-bottom: 0;
        color: $primary;
        background: #fff;
      }

      .tablinks {
        text-decoration: none;
        color: inherit;
      }
    }
    .active {
      border-bottom: 0;
      color: $primary;
      background: #fff;
    }
    .last {
      @include md {
        border-right: 0;
      }
      @include sm {
        border-right: 0;
      }
    }
  }
  p {
    font-size: 14px;
    margin: 25px 0;
  }

  .stars {
    a {
      text-decoration: none;
      color: rgb(42, 42, 42);
      @extend .far;
      @extend .fa-star;

      &.full {
        @extend .fas;
      }
      &.active {
        @extend .fas;
        color: $primary;
      }

      &.hovered {
        @extend .fas;
        color: #eeaf5c;
      }
    }
  }

  .tabcontent {
    display: none;
  }

  legend {
    font-size: 14px;
    margin: 25px 0;
  }
  textarea {
    width: 100%;
    height: 100px;
    resize: none;
  }
  .inputs {
    display: flex;
    justify-content: space-between;
    @include sm {
      flex-direction: column;
      align-items: center;
    }

    input[type="text"],
    input[type="email"] {
      height: 50px;
      width: 44%;
      padding: 10px;
      @include lg {
        width: 40%;
      }
      @include md {
        width: 40%;
      }
      @include sm {
        width: 100%;
        margin: 10px 0;
      }
    }
    input[type="submit"] {
      height: 50px;
      width: 10%;
      padding: 10px;
      background: #000;
      color: #fff;
      border: none;
      cursor: pointer;
      @include lg {
        width: 15%;
      }
      @include md {
        width: 15%;
      }
      @include sm {
        width: 25%;
      }
    }
  }
}
