.nav-tabs {
  text-transform: uppercase;
  font-weight: 700;

  .nav-link {
    color: $text-color;
  }
}

.slider-big-pic {
  position: relative;

  .actions {
    position: absolute;
    top: 30%;
    left: 5px;

    .btn-outline {
      margin: 2px;
    }
  }
  .content {
    position: absolute;
    bottom: 50px;
    right: 5px;
    height: 105px;
    width: 250px;
    background-color: $select-background;
    box-shadow: 0 3px 6px rgba(1, 2, 2, 0.24);
    padding-top: 30px;
    text-align: center;

    .content-price {
      position: absolute;
      top: -100px;
      left: 50%;
      transform: translateX(-50%);
      justify-content: center;
      height: 105px;
      width: 105px;
      border-radius: 50%;
      color: #fff;
      background-color: $text-color;
      opacity: 0.6;

      #price-new {
        margin-top: 35px;
      }
      #price-old {
        text-decoration: line-through;
      }
    }

    .stars {
      a {
        text-decoration: none;
        color: rgb(42, 42, 42);
        @extend .far;
        @extend .fa-star;

        &.full {
          @extend .fas;
        }
      }
    }
  }
}

.slider-thumbnails {
  justify-content: center;

  :not(:last-child) {
    margin-right: 7px;
  }

  .slider-col {
    padding: 0;
    flex-grow: 0;

    .slider-box {
      width: 70px;
      height: 70px;
      border: 1px solid #cccccc;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .slider-link {
    text-decoration: none;

    .arrow-box {
      &:hover {
        text-decoration: none;
        background-color: $primary;
      }
      height: 70px;
      padding: 0px;
      display: table-cell;
      vertical-align: middle;
      min-width: 33px;
      color: #fff;
      text-align: center;
      margin: 0px;
      background-color: #2a2a2a;
    }
  }
}

.big-picture {
  position: relative;
  img {
    width: 100%;
  }
  .big-product-layer {
    position: absolute;
    top: 70px;
    left: 50px;
    text-transform: uppercase;
    span {
      color: #79ae30;
      font-size: 35px;
    }
    h1 {
      text-transform: capitalize;
      color: $primary;
      font-weight: 600;
    }
    .btn-price {
      background-color: #79ae30;
      color: $select-background;
      text-align: center;
      display: inline-block;
      padding: 10px 20px;
      margin-top: 15px;
      text-decoration: none;
    }
  }
}
